/* common shared styles */

* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 48px;
  border: 0;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 21px 40px;

  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* header related styles */

header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  max-width: 75%;
  margin: 0 auto;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav img {
  margin-right: 20px;
}
nav .nav-title {
  font-size: 2.8125rem;
  font-weight: 700;
}
.nav-title span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-item {
  display: flex;
  gap: 32px;
  align-items: center;
}
.menu-item-link {
  display: flex;
  gap: 32px;
}
.menu-item-link a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}
.menu-item-icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);

  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;

  display: flex;
  align-items: center;
  padding: 13px 4px 13px 24px;
}
.menu-item-icon p {
  margin-right: 24px;
}
.menu-item-icon img {
  margin-top: 6px;
}

/* banner section styles */

.banner-container {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

  background-image: url("/images/Group\ 14.png");
  background-repeat: no-repeat;
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 365px;
}
.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.banner-heading {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 5.9375rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-description-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 24px 0px 41px;
}
.banner-description {
  display: flex;
  align-items: center;
  gap: 12px;
}
.banner-description p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
}
.btn-secondary {
  background: #4ec5f7;
  margin-left: 20px;
}
.banner-right img {
  position: relative;
  top: 5px;
}
