/* common shared styles */

* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 48px;
  border: 0;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 21px 40px;

  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* header related styles */

header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  max-width: 75%;
  margin: 0 auto;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 20px;
}
nav .nav-title {
  font-size: 2.8125rem;
  font-weight: 700;
}
.nav-title span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-item {
  display: flex;
  gap: 32px;
  align-items: center;
}
.menu-item-link {
  display: flex;
  gap: 32px;
}
.menu-item-link a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}
.menu-item-icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);

  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;

  display: flex;
  gap: 24px;
  align-items: center;
  padding: 13px 24px;
}
/* .menu-item-icon p {
  margin-right: 24px;
} */
.menu-item-icon img {
  margin-top: 6px;
}

/* banner section styles */

.banner-container {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

  background-image: url("/images/Group\ 14.png");
  background-repeat: no-repeat;
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 365px;
}
.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.banner-heading {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 5.9375rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-description-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 24px 0px 41px;
}
.banner-description {
  display: flex;
  align-items: center;
  gap: 12px;
}
.banner-description p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
}
.btn-secondary {
  background: #4ec5f7;
  margin-left: 20px;
}
.banner-right img {
  position: relative;
  top: 5px;
}

/* funny videos section styles */

.funny-videos-container {
  text-align: center;
  margin-top: 120px;
}
.funny-videos-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.funny-videos-container span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.funny-videos-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 16px 0px 48px;
}
.videos-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.videos-container figcaption {
  text-align: left;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
  margin-top: 24px;
}

.figure-1,
.figure-2,
.figure-3,
.figure-4 {
  position: relative;
  display: inline-block;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border: 5px solid #ff42a5;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 80%;
  opacity: 0;
  transition: opacity 0.1s;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.figure-1:hover .video-overlay,
.figure-2:hover .video-overlay,
.figure-3:hover .video-overlay,
.figure-4:hover .video-overlay {
  opacity: 1;
}

.video-watch-text {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 1.25rem;
  font-weight: 600;
}

/* instant play section styles */

.instant-play-container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 170px;
}
.instant-play-info {
  margin-left: 425px;
}
.instant-play-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px;
}
.instant-play-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instant-play-description {
  color: #534c64;
  text-align: right;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}
.instant-play-images .img-2 {
  position: relative;
  top: 80px;
  right: 785px;
}

/* footer section styles */

.footer-container {
  background: #0b0223;
  margin-top: 200px;
  padding: 120px 0px 130px;
}
footer .nav-title {
  color: #fff;
  font-size: 2.8125rem;
  font-weight: 700;
}
.footer-container .logo {
  display: flex;
  justify-content: center;
}
.footer-description {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 66px 0px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-documents {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 70px 0px 50px;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}
